In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

import warnings
warnings.filterwarnings('ignore')
from math import nan

CO = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/CO.csv")
NO = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/NO.csv")
NO2 = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/NO2.csv")
NOx = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/NOx.csv")
O3 = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/O3.csv")
PM25 = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/PM25.csv")
PM10 = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/PM10.csv")
PRS = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/PRS.csv")
RAINF = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/RAINF.csv")
RH = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/RH.csv")
SO2 = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/SO2.csv")
SR = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/SR.csv")
TOUT = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/TOUT.csv")
WD = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/WD.csv")
WS = pd.read_csv("C:/Users/paomo/Documents/TEC/CIENCIA DE DATOS/ARCHIVOSGIT/Reto-Multivariado/WS.csv")

In [3]:
CO = pd.read_csv("CO.csv")
NO = pd.read_csv("NO.csv")
NO2 = pd.read_csv("NO2.csv")
NOx = pd.read_csv("NOx.csv")
O3 = pd.read_csv("O3.csv")
PM25 = pd.read_csv("PM25.csv")
PM10 = pd.read_csv("PM10.csv")
PRS = pd.read_csv("PRS.csv")
RAINF = pd.read_csv("RAINF.csv")
RH = pd.read_csv("RH.csv")
SO2 = pd.read_csv("SO2.csv")
SR = pd.read_csv("SR.csv")
TOUT = pd.read_csv("TOUT.csv")
WD = pd.read_csv("WD.csv")
WS = pd.read_csv("WS.csv")

In [6]:
print('CO:', len(CO))
print('NO:', len(NO))
print('NO2:', len(NO2))
print('NOx:', len(NOx))
print('O3:', len(O3))
print('PM25:', len(PM25))
print('PM10:', len(PM10))
print('PRS:', len(PRS))
print('RAINF:', len(RAINF))
print('RH:', len(RH))
print('SO2:', len(SO2))
print('SR:', len(SR))
print('TOUT:', len(TOUT))
print('WD:', len(WD))
print('WS:', len(WS))

CO: 39376
NO: 39394
NO2: 39393
NOx: 39393
O3: 39394
PM25: 39395
PM10: 39394
PRS: 39271
RAINF: 39392
RH: 39383
SO2: 39393
SR: 39390
TOUT: 39298
WD: 39321
WS: 39260

In [7]:
## Se eliminan las columnas 
columnasValidas = ['parametro', 'Fecha','CE', 'CE b']

CO_2 = CO[columnasValidas].copy()
NO_2 = NO[columnasValidas].copy()
NO2_2 = NO2[columnasValidas].copy()
NOx_2 = NOx[columnasValidas].copy()
O3_2 = O3[columnasValidas].copy()
PM25_2 = PM25[columnasValidas].copy()
PM10_2 = PM10[columnasValidas].copy()
PRS_2 = PRS[columnasValidas].copy()
RAINF_2 = RAINF[columnasValidas].copy()
RH_2 = RH[columnasValidas].copy()
SO2_2 = SO2[columnasValidas].copy()
SR_2 = SR[columnasValidas].copy()
TOUT_2 = TOUT[columnasValidas].copy()
WD_2 = WD[columnasValidas].copy()
WS_2 = WS[columnasValidas].copy()

In [9]:
CO_2.head()

  parametro          Fecha    CE CE b
0     CO          1/1/2017  2.47  NaN
1     CO     1/1/2017 1:00  2.18  NaN
2     CO     1/1/2017 2:00  1.77  NaN
3     CO     1/1/2017 3:00  1.93  NaN
4     CO     1/1/2017 4:00  1.70  NaN

In [11]:
invalidos = ['p','c','d','b','m','l','z','o','s','r','e','a','s','f','h']
contaminantes2 = [CO_2,NO_2,NO2_2,NOx_2 ,O3_2 ,PM25_2,PM10_2 ,PRS_2,RAINF_2,RH_2,SO2_2,SR_2 ,TOUT_2,WD_2,WS_2]

In [12]:
def eliminar(data2):
    for i in invalidos:
        indexNames = data2[data2['CE b'] == i].index
        data2.drop(indexNames , inplace=True)
        
for j in contaminantes2: 
    eliminar(j)

In [15]:
CO_2.head()

  parametro          Fecha    CE CE b
0     CO          1/1/2017  2.47  NaN
1     CO     1/1/2017 1:00  2.18  NaN
2     CO     1/1/2017 2:00  1.77  NaN
3     CO     1/1/2017 3:00  1.93  NaN
4     CO     1/1/2017 4:00  1.70  NaN

In [16]:
CO_2 = CO_2.drop(columns=['CE b'])
NO_2 = NO_2.drop(columns=['CE b'])
NO2_2 = NO2_2.drop(columns=['CE b'])
NOx_2 = NOx_2.drop(columns=['CE b'])
O3_2 = O3_2.drop(columns=['CE b'])
PM25_2 = PM25_2.drop(columns=['CE b'])
PM10_2 = PM10_2.drop(columns=['CE b'])
PRS_2 = PRS_2.drop(columns=['CE b'])
RAINF_2 = RAINF_2.drop(columns=['CE b'])
RH_2 = RH_2.drop(columns=['CE b'])
SO2_2 = SO2_2.drop(columns=['CE b'])
SR_2 = SR_2.drop(columns=['CE b'])
TOUT_2 = TOUT_2.drop(columns=['CE b'])
WD_2 = WD_2.drop(columns=['CE b'])
WS_2 = WS_2.drop(columns=['CE b'])

In [17]:
df = pd.merge(CO_2, NO_2, on='Fecha', how='outer')
df = pd.merge(df, NO2_2, on='Fecha', how='outer')
df = pd.merge(df, NOx_2, on='Fecha', how='outer')
df = pd.merge(df, O3_2, on='Fecha', how='outer')
df = pd.merge(df, PM25_2, on='Fecha', how='outer')
df = pd.merge(df, PM10_2, on='Fecha', how='outer')
df = pd.merge(df, PRS_2, on='Fecha', how='outer')
df = pd.merge(df, RAINF_2, on='Fecha', how='outer')
df = pd.merge(df, RH_2, on='Fecha', how='outer')
df = pd.merge(df, SO2_2, on='Fecha', how='outer')
df = pd.merge(df, SR_2, on='Fecha', how='outer')
df = pd.merge(df, TOUT_2, on='Fecha', how='outer')
df = pd.merge(df, WD_2, on='Fecha', how='outer')
df = pd.merge(df, WS_2, on='Fecha', how='outer')

df.head()

,parametro_x,Fecha,CE_x,parametro_y,CE_y,parametro_x,CE_x,parametro_y,CE_y,parametro_x,...,parametro_x,CE_x,parametro_y,CE_y,parametro_x,CE_x,parametro_y,CE_y,parametro,CE
0,CO,1/1/2017,2.47,NO,16.0,NO2,15.1,NOx,31.1,O3,...,SO2,NaN,SR,0.004,TOUT,19.46,WDR,300.0,WSR,3.0
1,CO,1/1/2017 1:00,2.18,NO,8.9,NO2,11.7,NOx,20.6,O3,...,SO2,NaN,SR,0.004,TOUT,18.92,WDR,226.0,WSR,2.0
2,CO,1/1/2017 2:00,1.77,NO,2.0,NO2,8.6,NOx,10.5,O3,...,SO2,NaN,SR,0.004,TOUT,20.42,WDR,246.0,WSR,2.6
3,CO,1/1/2017 3:00,1.93,NO,7.2,NO2,10.0,NOx,17.2,O3,...,SO2,NaN,SR,0.004,TOUT,21.21,WDR,152.0,WSR,5.4
4,CO,1/1/2017 4:00,1.70,NO,2.1,NO2,8.6,NOx,10.7,O3,...,SO2,NaN,SR,0.004,TOUT,20.47,WDR,232.0,WSR,3.6

In [18]:
df = df.drop(columns=['parametro_x'])
df = df.drop(columns=['parametro_y'])
df = df.drop(columns=['parametro'])

In [19]:
df

,Fecha,CE_x,CE_y,CE_x,CE_y,CE_x,CE_y,CE_x,CE_y,CE_x,CE_y,CE_x,CE_y,CE_x,CE_y,CE
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6
5,1/1/2017 5:00,1.77,3.3,9.4,12.6,6.0,NaN,52.0,708.3,0.0,62.0,NaN,0.003,18.96,272.0,2.5
6,1/1/2017 6:00,1.99,6.3,9.5,15.7,5.0,NaN,55.0,708.8,0.0,65.0,NaN,0.003,18.15,270.0,2.4
7,1/1/2017 7:00,1.61,3.5,7.7,11.2,7.0,NaN,48.0,709.2,0.0,62.0,NaN,0.009,18.81,237.0,4.1
8,1/1/2017 8:00,1.67,6.6,8.0,14.6,7.0,NaN,31.0,709.7,0.0,63.0,NaN,0.066,18.68,277.0,2.8
9,1/1/2017 9:00,1.93,14.3,11.0,25.4,8.0,NaN,35.0,710.3,0.0,62.0,NaN,0.151,19.42,338.0,1.0
10,1/1/2017 10:00,2.08,11.7,15.5,27.2,17.0,NaN,46.0,710.4,0.0,53.0,NaN,0.349,21.90,38.0,1.7
11,1/1/2017 11:00,1.94,9.2,17.0,26.3,26.0,NaN,76.0,710.2,0.0,50.0,NaN,0.476,23.11,33.0,3.2
12,1/1/2017 12:00,1.72,3.5,9.6,13.1,50.0,NaN,95.0,709.5,0.0,50.0,NaN,0.625,23.97,86.0,5.0
13,1/1/2017 13:00,1.59,1.9,5.3,7.3,56.0,NaN,77.0,708.4,0.0,48.0,NaN,0.601,24.86,61.0,6.7
14,1/1/2017 14:00,1.55,1.8,3.9,5.8,54.0,NaN,61.0,707.6,0.0,43.0,NaN,0.589,26.12,50.0,7.3
15,1/1/2017 15:00,1.45,1.3,1.6,3.0,51.0,NaN,38.0,707.2,0.0,38.0,NaN,0.327,27.03,100.0,7.1
16,1/1/2017 16:00,1.43,1.2,1.1,2.3,49.0,NaN,28.0,707.0,0.0,38.0,NaN,0.048,26.92,148.0,7.2
17,1/1/2017 17:00,1.48,1.1,2.4,3.7,48.0,NaN,22.0,707.0,0.0,45.0,NaN,0.037,24.88,141.0,7.5
18,1/1/2017 18:00,1.49,1.1,2.8,4.0,48.0,NaN,32.0,707.1,0.0,48.0,NaN,0.005,23.86,125.0,7.7
19,1/1/2017 19:00,1.46,1.0,2.2,3.4,45.0,NaN,32.0,707.1,0.0,50.0,NaN,0.004,23.57,154.0,8.7
20,1/1/2017 20:00,1.56,1.2,6.7,8.0,32.0,NaN,28.0,707.2,0.0,53.0,NaN,0.004,22.73,125.0,4.1
21,1/1/2017 21:00,1.96,5.3,15.8,21.0,9.0,NaN,30.0,707.3,0.0,61.0,NaN,0.005,21.08,283.0,2.2
22,1/1/2017 22:00,2.03,7.7,17.0,24.7,5.0,NaN,48.0,707.4,0.0,61.0,NaN,0.005,20.23,229.0,3.0
23,1/1/2017 23:00,1.89,4.3,15.1,19.4,6.0,NaN,54.0,707.4,0.0,65.0,NaN,0.005,19.29,293.0,1.7
24,1/2/2017,1.96,9.7,13.9,23.5,5.0,NaN,54.0,707.6,0.0,72.0,NaN,0.005,18.11,270.0,2.6
25,1/2/2017 1:00,2.01,11.3,13.3,24.6,5.0,NaN,62.0,707.7,0.0,75.0,NaN,0.006,17.39,268.0,2.5
26,1/2/2017 2:00,1.65,1.8,10.3,12.1,9.0,NaN,59.0,707.7,0.0,69.0,NaN,0.005,17.39,259.0,2.9
27,1/2/2017 3:00,1.56,1.2,9.1,10.3,12.0,NaN,66.0,707.6,0.0,64.0,NaN,0.005,17.41,193.0,3.6
28,1/2/2017 4:00,1.63,1.7,9.7,11.4,8.0,NaN,82.0,707.9,0.0,70.0,NaN,0.005,16.50,195.0,2.6
29,1/2/2017 5:00,1.63,1.7,9.5,11.2,7.0,NaN,67.0,708.2,0.0,66.0,NaN,0.005,16.67,201.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39365,4/14/2018 9:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.0,0.0,6.0,NaN,0.371,19.82,5.0,9.1
39366,4/14/2018 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.1,0.0,6.0,NaN,0.584,20.95,21.0,11.0
39367,4/21/2018 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709.1,0.0,54.0,NaN,0.045,26.24,148.0,8.2
39368,4/21/2018 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709.6,0.0,56.0,NaN,0.007,25.38,129.0,7.5
39369,4/25/2018 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,710.0,0.0,59.0,NaN,0.045,24.94,3.0,6.5
39370,4/25/2018 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711.8,0.0,61.0,NaN,0.006,24.28,10.0,9.6
39371,4/25/2018 21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.1,0.0,77.0,NaN,0.006,20.56,87.0,7.3
39372,4/25/2018 22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.9,0.0,80.0,NaN,0.006,18.82,51.0,10.4
39373,4/25/2018 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.5,0.0,76.0,NaN,0.006,18.33,118.0,7.4
39374,4/26/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.5,0.0,76.0,NaN,0.006,18.24,109.0,8.4
39375,4/26/2018 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.3,0.0,78.0,NaN,0.006,17.50,100.0,7.3
39376,4/26/2018 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.9,0.0,78.0,NaN,0.006,17.15,125.0,4.7
39377,4/26/2018 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.4,0.0,77.0,NaN,0.006,17.34,79.0,5.5
39378,4/26/2018 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.3,0.0,78.0,NaN,0.006,16.73,40.0,6.4
39379,4/26/2018 5:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.3,0.0,77.0,NaN,0.006,16.62,42.0,6.0
39380,4/26/2018 6:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.3,0.0,78.0,NaN,0.006,16.22,68.0,5.6
39381,4/26/2018 7:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712.8,0.0,77.0,NaN,0.012,15.86,93.0,6.5
39382,4/26/2018 8:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,713.2,0.0,76.0,NaN,0.036,15.75,90.0,6.4
39383,1/5/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39384,1/12/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39385,1/19/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39386,1/26/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,94.0,NaN
39387,1/26/2017 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39388,2/1/2017 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,25.0,NaN
39389,2/2/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39390,2/2/2017 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39391,2/9/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39392,2/10/2017 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39393,2/16/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39394,1/12/2017 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
df.columns = ['Fecha','CO','NO', 'NO2',  'NOx', 'O3', 'PM25', 'PM10', 'PRS', 'RAINF', 'RH', 'SO2', 'SR', 'TOUT', 'WD', 'WS']
df

,Fecha,CO,NO,NO2,NOx,O3,PM25,PM10,PRS,RAINF,RH,SO2,SR,TOUT,WD,WS
0,1/1/2017,2.47,16.0,15.1,31.1,6.0,NaN,143.0,709.2,0.0,64.0,NaN,0.004,19.46,300.0,3.0
1,1/1/2017 1:00,2.18,8.9,11.7,20.6,5.0,NaN,183.0,708.9,0.0,66.0,NaN,0.004,18.92,226.0,2.0
2,1/1/2017 2:00,1.77,2.0,8.6,10.5,6.0,NaN,142.0,708.5,0.0,56.0,NaN,0.004,20.42,246.0,2.6
3,1/1/2017 3:00,1.93,7.2,10.0,17.2,7.0,NaN,101.0,708.2,0.0,52.0,NaN,0.004,21.21,152.0,5.4
4,1/1/2017 4:00,1.70,2.1,8.6,10.7,7.0,NaN,85.0,707.9,0.0,54.0,NaN,0.004,20.47,232.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39390,2/2/2017 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39391,2/9/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39392,2/10/2017 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39393,2/16/2017 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39394,1/12/2017 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
df.to_csv('C:/Users/paomo/Downloads/numeros.csv', header=True, index=False)